<h1>Задание</h1>

<p>Существует гипотеза Симона о факториале. Она гласит, что существует
  4 факториала, которые представимы в виде произведения трех последовательных
  чисел. Например: 4! = 2 · 3 · 4. Написать программу, определяющую
  эту четверку, подсчитать действительное количество таких
  факториалов, если это возможно и тем самым доказать неправильность
  гипотезы. Вывести на печать результаты каждой итерации и финальных
  расчетов.</p>

<div id="container">
  <%= form_with id: 'form', method: :get, url: ajax_show_path do |form| %>
    <%= form.submit 'Отправить форму' %>
    <%= number_field_tag(:max) %>  <br/>
  <% end %>

  <p id="result"></p>
  <p id="resultString" hidden = "true"></p>
</div>
